*.log
.idea
.last_gui_params.txt
__pycache__
Ortho4XP.cfg
Ortho4XP.cfg.bak
Elevation_data/
Geotiffs/
Masks/
OSM_data/
Orthophotos/
Patches/
Previews/
Tiles/
tmp/
yOrtho4XP_Overlays/
*.log
.last_gui_params.txt
.idea/
Ortho4XP.cfg
Ortho4XP.cfg.bak

