*.log
.idea/
.last_gui_params.txt
__pycache__
_trial_temp
Ortho4XP.cfg
Ortho4XP.cfg.bak
Elevation_data/
Geotiffs/
Masks/
OSM_data/
Orthophotos/
Patches/
Previews/
Tiles/
tmp/
yOrtho4XP_Overlays/
*.log

